<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Employee Travel Booking System", "MainPage", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li><img src="~/Content/Images/logo3.png" alt="Logo" height="40" width="49" class="img-circle" /></li>
                    <li>@Html.ActionLink("Employee Travel Booking System", "Displaystatus", "Employee", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Current Request/Show Status", "Displaystatus", "Employee")</li>
                    <li>@Html.ActionLink("Raise New Ticket", "RaiseTicket", "Employee")</li>
                    <li>@Html.ActionLink("Cancel Ticket", "ViewForDelete", "Employee")</li>
                </ul>
                <ul class="nav navbar-nav" style="float:right !important">                
                    <li>@Html.ActionLink("Log Out", "Login", "Login1")</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="container body-content">
        @RenderBody()
        <br /><hr />
        <footer style="bottom:0px;position:absolute">
            <p>&copy; @DateTime.Now.Year - Employee Travel Booking System </p>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

