@model IEnumerable<EmployeeTravelBookingSystem_MVC.Models.TravelClass>

@{
    ViewBag.Title = "CheckTicket";
    Layout = "~/Views/Shared/_TravelAgentLayout.cshtml";
}
<br />
<center>
    <h2><u>Available Tickets</u></h2>
</center>
<br />
<p>
    <h4>@Html.ActionLink("Back", "Index")</h4>
</p>
<br />
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerUserId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Count)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserTypeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerUserId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Ticket_Count)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
