@model IEnumerable<EmployeeTravelBookingSystem_MVC.Models.TravelRequestEmp>

@{
    ViewBag.Title = "Displaystatus";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<br />
<h4 ><b>Welcome, @Session["UserName"].ToString()</b></h4>
<center>
    <h2 ><u>Your Current Travelling Status</u></h2><br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medium)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentStatus)
                </td>

            </tr>
        }

    </table>
</center>